Session cookie seems to ignore server's port, which causes issues when a user opens multiple applications from the same host in the same browser

I have two applications running on a backend server. They open their gowut servers on different ports (same IP/hostname). I open a browser and connect to the first app and authenticate, everything is ok. Starting a second browser instance/tab and authenticating to the second application stops the first browser session from working. There are no errors, and re-authenticating fixes it but breaks the other session. 
However if I use a different browser to connect to the second application, everything works as expected and both applications work as intended.


This is the expected working, because from the cookie specification (RFC 6265, which replaces RFC 2109 and RFC 2965):

> Similarly, cookies for a given host are shared across all the ports on that host, even though the usual "same-origin policy" used by web browsers isolates content retrieved via different ports.

Gowut sets cookies as app URL specific. So if you use different app name in your different Gowut servers, it should work.

Using the same app URL, it could only work if they would use different cookie names for storing the Gwout session ID. Currently this is not supported. Do you feel a need for it?

Ah ok, I'd used "" as the server name for both applications as I wanted them both off the root e.g. host:port/ 
For my application, it only affects a small number of people who need access to both apps on the same host, so for them (most are split onto different hosts), they can use two different browsers for now.



I could add support so that you could specify at the `gwu.Server` what cookie name to use to store the session ID. Then you could use different cookie names for your 2 servers, and so they wouldn't collide.

That would be perfect for me and may be of use to others. Thanks

Done. Added `Server.SessIDCookieName()` and `SetSessIDCookieName()` methods, see commit https://github.com/icza/gowut/commit/8140e5a95df7589736bbf44d2784d6cbaa5cab21

Available on the `dev` branch.

Will go live with the `v1.4.0` public version, you may use the `dev` branch meanwhile if you want to.